{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    <h2>Информация о пользователе</h2>
    {% if user.is_authenticated %}
    <p>Привет</p>
    <p>{{user.first_name}} {{user.last_name}}</p>
    <p>Твой email - {{user.email}}</p>
    <a href="{% url 'profile' user.pk %}" class="btn btn-info btn-xs" > <i class="fa fa-pencil"></i>Изменить информацию</a>

    <a href="{% url 'old_trip' user.pk %}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>Совершенные поездки</a>
    <br><br>
    <a href="{% url 'logout' %}" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>Выйти</a>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-info btn-xs" > <i class="fa fa-pencil"></i>Войти</a>
    {% endif %}

{% endblock content %}