{% extends 'base_chat.html' %}
{% block content %}


    <body>
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-6 is-offset-3 mb-6">
                        <section class="hero is-primary">
                            <div class="hero-body">
                                <p class="title">
                                    Чат-подежка
                                </p>
                                <p class="subtitle">
                                    Поддержим вас
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="column is-4 is-offset-4">
                        <div class="field">
                            <label>Проблема</label>

                            <div class="control">
                                <input class="input" type="text" placeholder="Room name" id="room-name-input">
                            </div>
                        </div>

                        <div class="field">
                            <label>Ваше имя</label>

                            <div class="control">
                                <input class="input" type="text" placeholder="Username" id="username-input">
                            </div>

                        </div>

                        <div class="field">
                            <div class="control">
                                <br><br>
                                <a class="btn btn-success" id="room-name-submit">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            document.querySelector('#room-name-input').focus();

            document.querySelector('#room-name-submit').onclick = function(e) {
                var roomName = document.querySelector('#room-name-input').value;
                var userName = document.querySelector('#username-input').value;
                var a = {" ":"-","Ё":"YO","Й":"I","Ц":"TS","У":"U","К":"K","Е":"E","Н":"N","Г":"G","Ш":"SH","Щ":"SCH","З":"Z","Х":"H","Ъ":"32","ё":"yo","й":"i","ц":"ts","у":"u","к":"k","е":"e","н":"n","г":"g","ш":"sh","щ":"sch","з":"z","х":"h","ъ":"32","Ф":"F","Ы":"I","В":"V","А":"a","П":"P","Р":"R","О":"O","Л":"L","Д":"D","Ж":"ZH","Э":"E","ф":"f","ы":"i","в":"v","а":"a","п":"p","р":"r","о":"o","л":"l","д":"d","ж":"zh","э":"e","Я":"Ya","Ч":"CH","С":"S","М":"M","И":"I","Т":"T","Ь":"23","Б":"B","Ю":"YU","я":"ya","ч":"ch","с":"s","м":"m","и":"i","т":"t","ь":"23","б":"b","ю":"yu"};

                function transliterate(roomName){
                    return roomName.split('').map(function (char) {
                        return a[char] || char;
                    }).join("");

                }
                roomName = transliterate(roomName)


                window.location.replace(roomName + '/?username=' + userName);
            };3
        </script>
    </body>
{% endblock content %}
