{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h1 class="display-4 fst-italic">Система бронирования</h1>
      <p class="lead my-3">Предлагаем забронировать билеты по выбранным направлениям. Быстро, удобно, надежно.</p>
    </div>
  </div>

    <h3 class="pb-4 mb-4 fst-italic border-bottom text-center">
        С чего начать
      </h3>

    <div class="row mb-2">
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Шаг 1</strong>
                  <h3 class="mb-1">Выберите направление</h3>
                  <ul>
                  <li>Есть возможность посмотреть подробную информацию</li>
                  <li>*****</li>
                  <li>*****</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">Шаг 2</strong>
              <h3 class="mb-1">Зарегистрируйтесь или авторизируйтесь</h3>
              <ul>
              <li>Быстро</li>
              <li>По электронной почте или смс</li>
              <li>*****</li>
              <li>*****</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Шаг 3</strong>
          <h3 class="mb-1">Забронируйте свою поездку</h3>
          <ul>
          <li>Выберите направление и остановку посадку</li>
          <li>Выберите дату и время посадки</li>
          <li>Выбирите количство мест</li>
          <li>Забронируй</li>
            <li>Подтверди поездку за сутки до отправления</li>
        </ul>
        </div>
      </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
      <article class="blog-post">
        <h3 class="pb-4 pt-4 mb-4 mt-4 fst-italic border-bottom border-top text-center">Важное</h3>
        <p>Есть возможность оплаты как онлайн так и при посадке</p>
        <ul>
          <li>При регистрации указывайте верные данные</li>
          <li>Есть вопрос? <a class="dropdown-item" href="{% url 'chat' %}">Спроси менеджера</a></li> </li>
          <li>Не хочешь регистрироваться звони:</li>
          <li>мтс +375ляляляля*</li>
          <li>а1 +375ляляляля</li>
          <li>life +375ляляля</li>

        </ul>

      </article><!-- /.blog-post -->

    </div>

  </div><!-- /.row -->

</main>


{% endblock content%}